*{
    box-sizing: border-box;
}
/* body{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    background-color: burlywood;
} */
nav{
    margin-bottom: 10px;
}

.navbar_style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* position: fixed; */
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #31637c;
}
form {
    border: 3px solid  #173747;
}
.heading_center{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.center {
    margin: auto;
    width: 40%;
    border: 3px solid black;
    padding: 10px;
  }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 20px 0 3px 0;
}

img.avatar {
  width: 20%;
  border-radius:50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  /* for view blog page */

  h1{
    text-align: center;
    color:white;
    font-style: italic;
    font-weight: 700;
}
.technology{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border-style: double;
    border-color:white;
    padding: 100px;
    background-color: burlywood;
    
}